apiVersion: v1
kind: Service
metadata:
  name: __APP_NAME__
  labels:
    app: __APP_NAME__
spec:
  type: ClusterIP
  selector:
    app: __APP_NAME__
  ports:
  - name: http
    port: 80
    targetPort: http
    protocol: TCP
